%table
  %tr
    %th Id
    %th Name
  - @post_types.each do |post_type|
    %tr
      %td= post_type.id
      %td= post_type.name
      %td= link_to 'Show', admin_post_type_path(post_type)
      %td= link_to 'Edit', edit_admin_post_type_path(post_type)
      %td= link_to 'Destroy', admin_post_type_path(post_type),
            method: :delete,
            data: { confirm: 'Are you sure?' }
