= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, 'error')
        prohibited
        this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :excrept
    = f.text_area :excrept
  .field
    = f.label :extra_css
    = f.text_area :extra_css
  .field
    = f.label :extra_js
    = f.text_area :extra_js
  .field
    = f.label :author
    %f.select
      %f.option{value: "a", selected: params[:author] == "a"}= "a"
      %f.option{value: "b", selected: params[:author] == "b"}= "b"
  .field
    = f.label :template
    = f.text_field :template
  .field
    = f.label :microdata
    = f.text_field :microdata
  .field
    = f.label :custom_meta
    = f.text_field :custom_meta
  .field
    = f.label :rights
    = f.text_field :rights
  .field
    = f.collection_check_boxes :post_category_ids, PostCategory.all.collect, :id, :name do |m|
      = m.check_box
      = m.label
  / .field
  /   = f.label :post_type
  /   %select{:name => "post[post_type]"}
  /     - @post_type.each do |t|
  /       = content_tag(:option, t.name, value: t.id)
  .field
    = f.label :comments
    = f.check_box :comments
  .field
    = f.label :status
    %select
      %option{value: "draft", selected: params[:status] == "draft"}= "draft"
      %option{value: "published", selected: params[:status] == "published"}= "published"
      %option{value: "private", selected: params[:status] == "private"}= "private"
  .field
    = f.label :locale
    = f.select(:locale) do
      - [['no', 1], ['en', 2]].each do |c|
        = content_tag(:option, c.first, value: c.last)
  .actions
    = f.submit 'Save'

= PostCategory.inspect