%table
  %tr
    %th Id
    %th Title
    %th Text
  - post_type.posts.each do |post|
    %tr
      %td= post.id
      %td= post.title
      %td= post.text
      %td= link_to 'Show', admin_post_type_post_path(post_type, post)
      %td= link_to 'Edit', edit_admin_post_type_post_path(post_type, post)
      %td= link_to 'Destroy', admin_post_type_post_path(post_type, post),
            method: :delete,
            data: { confirm: 'Are you sure?' }
