= form_for @post_tag do |f|
  - if @post_tag.errors.any?
    #error_explanation
      %h2
        = pluralize(@post_tag.errors.count, 'error')
        prohibited
        this post_tag from being saved:
      %ul
        - @post_tag.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :post_type_id
    = f.select(:post_type_id, PostType.all.collect {|t| [ t.name, t.id ] }, { include_blank: true })
  .field
    = f.label :locale
    = f.select(:locale) do
      - [['no', 1], ['en', 2]].each do |c|
        = content_tag(:option, c.first, value: c.last)
  .actions
    = f.submit 'Save'
