= render 'menu'

%h1 General settings page

= @settings.inspect

/ - fields_for "settings[]", @settings do |f|

/ = form_for SiteSettings do f
- @settings.each do |s|
  = fields_for s, :url => 'admin_site_setting_path' do |f|
    .field
      = f.label s.setting_name
      = f.text_field :setting_name
      = f.text_field :setting_value
      = f.text_field :setting_group