!!!
%html{lang: @site_settings[:general][user_signed_in? ? :site_locale_default_admin : :site_locale_default]}
  %head
    %title= @site_settings[:general][:site_title]
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/manifest.json", :rel => "manifest"}

    %meta{:content => @site_settings[:appearance][:meta_theme_color], :name => "theme-color"}
    %meta{:content => @site_settings[:appearance][:meta_msapplication_tile_color], :name => "msapplication-TileColor"}
    %link{:color   => @site_settings[:appearance][:meta_mask_icon_color], :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}

    = @site_settings.inspect
  %body
    %nav
      - if user_signed_in?
        = render 'admin/menu'
      - else
        = link_to t('account.register'), new_user_registration_path, :class => 'navbar-link'
        = link_to t('account.login'), new_user_session_path, :class => 'navbar-link'

      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
    = yield